#background{
  width: 100%;
  height: 860px;
  position:relative;
  text-align: center;
  padding-right: 10%;
  border-radius: 50%;
  text-size-adjust: 150%;
}
#about{
  text-align: center;
  font-family: cursive;
  background-color: lightblue;
  font-weight: inherit;
}
#services{
  width: 100%;
  height: 460px;
  position:relative;
  text-align: center;
  padding-right: 10%;
  border-radius: 50%;
  text-size-adjust: 150%;
  font-size: x-large;
  color: gold;
}
#h6{
  font-size: xx-large;
}
#portfolio{
  border: initial;
  border-bottom-left-radius: initial;
}
#contact{
  width: 100%;
  height: 860px;
  position:relative;
  text-align: center;
  padding-right: 10%;
  border-radius: 50%;
  text-size-adjust: 150%;
}
#Ending{
  text-align: center;
  font-family: sans-serif;
  color: red;
  background-color: darkgrey;
}
#images{
  text-align: center;
}
#portfolio{
  text-align: center;
}
#heading{
  text-align: center;
  font-family: fantasy;
  color: darkorange;
  font-size: x-large;
} 
#intro{
  text-align: end;
}